.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 16px;
  border-radius: 999px;
  background-color: var(--primary-bg);
}

.circle {
  position: absolute;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s linear, transform 0.3s linear;

  &.on {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
}
