.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33.33333%;
  padding: 10px;
  border-radius: 4px;

  &.chart {
    width: 100%;
    background-color: var(--hover-bg);
    margin-bottom: 10px;
    padding: 10px 15px;

    &:hover,
    &.active {
      background-color: hsla(0, 0%, 100%, 0.2) !important;
    }

    .rank {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22px;
      margin-right: 12px;
      font-size: 3.2rem;
      font-weight: 900;
      font-family: 'Roboto', sans-serif;
      color: rgba(74, 144, 226, 0);
      -webkit-text-stroke: 1px var(--cl);
    }

    .content {
      justify-content: center;
    }

    .percent {
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 1.56;
      color: var(--text-color);
    }
  }

  &:hover {
    background-color: var(--hover-bg);

    .image {
      img {
        filter: brightness(0.6);
      }

      .play-icon {
        display: flex;
      }
    }

    .more {
      display: block;
    }
  }
}

.image {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  img {
    border-radius: 4px;
  }

  .play-icon {
    display: none;
    position: absolute;
    inset: 0;
    justify-content: center;
    align-items: center;
    width: auto !important;
    height: auto !important;
    box-sizing: content-box;
  }

  .playing-icon {
    border-radius: 0;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 60px;
  margin-left: 12px;
  overflow: hidden;

  p,
  span {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  h3 span {
    font-size: 1.4rem;
    color: var(--text-color);
  }

  p,
  span {
    font-size: 1.2rem;
    color: var(--text-sub-color);
  }

  &.disable {
    & > h3 {
      opacity: 0.6;
      max-width: 100%;
      display: flex;
      align-items: center;

      span {
        display: inline-block;
        width: calc(100% - 60px);
      }
    }
    & > p {
      opacity: 0.4;
    }
    & > span {
      opacity: 0.6;
    }
  }
}

.more {
  display: none;
  margin-left: 10px;
  padding: 12px;
  box-sizing: content-box;
  border-radius: 50%;
  cursor: pointer;

  div {
    width: 100%;
    height: 100%;
  }

  &:hover {
    background-color: var(--hover-bg);
  }
}

.tool-mini {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 12px;
  border-radius: 8px;
  background-color: var(--hover-bg);
  font-size: 10px;

  .tool-mini-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    height: 100%;
    border-radius: 8px;
    padding: 8px 0;
    cursor: pointer;

    &:hover {
      background-color: var(--hover-bg);
    }
  }
}

.custom {
  font-size: 1.4rem;
  padding: 8px 12px;
  border-left: none;
}
