.wrapper {
  --time: 0.6s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 32px 0;

  &:hover {
    .btn {
      opacity: 0.8;
      z-index: 4;

      &:hover {
        opacity: 1;
      }
    }
  }

  &.next {
    .item.item-0 {
      z-index: 3;
    }

    .item.item-1 {
      z-index: 2;
    }

    .item.item-2 {
      z-index: 1;
    }
  }

  &.prev {
    .item.item-0 {
      z-index: 1;
    }

    .item.item-1 {
      z-index: 2;
    }

    .item.item-2 {
      z-index: 3;
    }
  }
}

.btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--hover-bg);
  transition: opacity 0.1s ease-in;
  opacity: 0;
  z-index: -1;
  cursor: pointer;

  &:first-child {
    left: 25px;
  }

  &:last-child {
    right: 25px;
  }
}

.item {
  position: absolute;
  display: block;
  width: 33.33%;
  height: auto;
  padding: 0 15px;
  transition: transform var(--time) ease, opacity var(--time) ease-in-out;
  background-color: var(--layout-bg);

  img {
    max-width: 100%;
    border-radius: 8px;
  }

  &.item-0 {
    animation: visible-animation-left var(--time) ease;
    transform: translateX(-100%);
    z-index: 3;
  }

  &.item-1 {
    position: unset;
    z-index: 2;
  }

  &.item-2 {
    animation: visible-animation-right var(--time) ease;
    transform: translateX(100%);
    z-index: 1;
  }

  &.item-3 {
    opacity: 0;
    transform: translateX(50%);
  }

  &.item-4 {
    opacity: 0;
    transform: translateX(0);
  }

  &.item-5 {
    opacity: 0;
    transform: translateX(-50%);
  }
}

@keyframes visible-animation-left {
  0% {
    z-index: 1;
    transform: translateX(0);
  }

  100% {
    z-index: 1;
    transform: translateX(-100%);
  }
}

@keyframes visible-animation-right {
  0% {
    z-index: 1;
    transform: translateX(0);
  }

  100% {
    z-index: 1;
    transform: translateX(100%);
  }
}
