.wrapper {
  padding-top: 20px;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 -14px;
}
