.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  border-radius: 12px;
  overflow: hidden;
}

.item-banner {
  width: 100%;
  transition: scale 0.5s;
}

.item-banner:hover {
  scale: 1.2;
}
